<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://karachiunited.com/wp-content/uploads/2016/11/04.jpg);">
  <div class="container">
    <h1><strong>Football? Cricket? Volleyball? You wanna play? Sure thing.</strong></h1>
    <br>
    <a class="btn btn-flat" href="/facilities">Book now</a>
  </div>
</div>
